.container {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.pane {
  transition: all 0.15s ease-in-out;
  will-change: width;
}

.wrap {
  padding: 20px;
}

.splitViewContainer:global(.split-view-sash-dragging) .pane {
  transition: none;
}

.editors-container {
  height: 100%;
  width: 100%;
  padding: 10px 0;
}

.editors-card {
  display: flex;
  height: 100%;
  width: 100%;
}
