.container {
  width: 100%;
  height: 100%;
}

.pane {
  transition: all 0.15s ease-in-out;
  will-change: width;
  height: var(--tab-title-size);
}

.tab-list {
  width: 100%;
  height: calc(100% - var(--tab-title-size));
  overflow-y: auto;
}
