.container {
  width: 100%;
  height: 100%;
}

.pane {
  transition: all 0.15s ease-in-out;
  will-change: width;
  height: var(--tab-title-size);
}

/* .tab-nav {
  width: 100%;
  display: flex;
} */

.tab-list {
  width: 100%;
  height: calc(100% - var(--tab-title-size));
  overflow-y: auto;
}

/* .tab-nav .tab-panel {
  padding: 0;
  width: 100%;
} */

/* .tab-request {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
} */
