.editor {
  width: 100%;
  height: 100%;
  position: relative;
}

.cm {
  padding: 16px;
  flex-grow: 1;
}

.editor-wrapper {
  width: 100%;
  height: 100%;
}

.editor .tools {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-right:  15px;
}
