.container {
  margin: 20px auto;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.pane {
  transition: all 0.15s ease-in-out;
  will-change: width;
}

.wrap {
  padding: 20px;
}

.splitViewContainer .pane,
.splitViewContainer .rightPane {
  transition: none;
}

.editors-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
}
